STAGE=dev

# PostgreSQL
POSTGRES_USER=cinephile
POSTGRES_PASSWORD=Keu8390H*Hs_a
POSTGRES_DB=movie_catalog
POSTGRES_HOST=yandex_p_db
POSTGRES_PORT=5432

DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=${POSTGRES_DB}
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_HOST=${POSTGRES_HOST}
DB_PORT=${POSTGRES_PORT}

# Docker variables
HOST_UID=1000
HOST_GID=1000
